@font-face {
    font-family: "Mustica Pro";
    src: url("../media/MusticaproSemibold-2OG5o.otf");
}
body{
    font-family: "Mustica Pro";
}

.text-shadow{
    text-shadow: 0px 2px 8px rgb(0 0 0 / 23%);
}


/* HEADER */
.header{
    position: relative;
    background-image: url(../media/Header.jpeg);
    background-size: cover;
    background-position-y: 50% ;
    height: 100vh;
}
.header img{
    width: 20%;
    margin: 13% 0 0 15%;
    filter: drop-shadow(5px 5px 5px rgba(34, 34, 34, 0.672));
}
.capa{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: #fd5586;
    opacity: .15;
}
.padding{
    padding: 0 17%;
    filter: drop-shadow(5px 5px 5px rgb(0, 0, 0));
}
.padding p{
    font-size: x-large;
}

/* SECTION-1 */
.section-1{
    position: relative;
    height: 135vh;
    background-color: #fedae1;
    z-index: 1;
}
.cuadro-section-1{
    position: absolute;
    width: 65%;
    height: 70%;
    top: 5%;
    right: 0%;
    background-color: #fd5586;
    z-index: -1;
}
.img-letrero{
    width: 95%;
    /* height: 65%; */
    margin-top: 12%;
    object-fit: cover;
}
.img-section-1{
    position: absolute;
    width: 30%;
    height: 68%;
    object-fit: cover;
}
.alineacion{
    position: absolute;
    bottom: 0;
}

/* SECTION-2 */
.section-2{
    position: relative;
    background-color: #fff;
    z-index: 1;
}
.section-2 p{
    line-height: 4.5rem;
    font-size: 2.3rem;
}

/* SECTION-3 */
.section-3{
    background-color: #fedae1;
}
/* SECTION-4 */
.section-4{
    position: relative;
    height: 135vh;
    z-index: 1;
}
.cuadro-section-4{
    position: absolute;
    width: 36%;
    height: 70%;
    top: 5%;
    right: 0%;
    background-color: #fedae1;
    z-index: -1;
}
.filter-shadow{
    filter: drop-shadow(0px 5px 5px rgba(34, 34, 34, 0.527));
}
.fs-section-4{
    font-size: 2.2rem;
}
.margen-section-4{
    margin: 13rem 9rem 0 0;
    width: 70%;
}
.alineacion-section-4{
    position: absolute;
    bottom: 0;
}
/* SECTION-5 */
.section-5{
    color:#fd5586;
    margin: 5rem 0;
}
/* FOOTER */
.footer{
    background-color: #fd5586;
}
@media (max-width:600px){
    /* HEADER */
    .header{
        position: relative;
        background-image: url(../media/Header.jpeg);
        background-size: cover;
        background-position: center center ;
        height: 100vh;
    }
    .header img{
        width: 60%;
        margin: 74% 0 0 3%;
        filter: drop-shadow(5px 5px 5px rgba(34, 34, 34, 0.672));
    }
    .capa{
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        background-color: #fd5586;
        opacity: .15;
    }
    .padding{
        padding: 0 5%;
        filter: drop-shadow(5px 5px 5px rgb(0, 0, 0));
    }
    .padding p{
        font-size:medium;
    }
    /* SECTION-1 */
    .section-1{
        position: relative;
        height: 160vh;
        background-color: #fedae1;
        z-index: 1;
    }
    .cuadro-section-1{
        position: absolute;
        width: 100%;
        height: 33%;
        top: 52%;
        right: 0%;
        background-color: #fd5586;
        z-index: -1;
    }
    .img-letrero{
        width: 88%;
        height: 100%;
        object-fit: cover;
    }
    .img-section-1{
        position: absolute;
        width: 88%;
        height: 33%;
        margin: 0 22px;
        object-fit: cover;
    }
    .alineacion{
        bottom: 50%;
    }
    /* SECTION-2 */
    .section-2 p{
        line-height: normal;
        font-size: 1.5rem;
    }
    /* SECTION-4 */
    .section-4{
        position: relative;
        height: 180vh;
        z-index: 1;
    }
    .cuadro-section-4{
        position: absolute;
        width: 80%;
        height: 40%;
        top: 51%;
        right: 0%;
        background-color: #fedae1;
        z-index: -1;
    }
    .filter-shadow{
        filter: drop-shadow(0px 5px 5px rgba(34, 34, 34, 0.527));
    }
    .margen-section-4{
        margin: 112% 0 0 0;
        width: 100%;
    }
    .fs-section-4{
        font-size: 1.4rem;
    }
    .alineacion-section-4{
        bottom: 28%;
    }
}
